#header{
	position: absolute;
	margin-left: 125px;
	font-family: Copperplate Gothic Light, sans-serif;
	padding-top: 15px;
	
}
div.heading{
	margin-bottom: 30px;
	padding-bottom: 10px;
	border-bottom-style: groove;
	border-bottom-color: honeydew;
	background-color: honeydew;
}
#iconDiv{
	padding-top: 15px;
	padding-left: 10px;
}


#emailIcon{
	height: 80px;
	width: 80px;
	position: relative;
	
}


#inbox{
	font-family: Liberation Sans, sans-serif;
	font-size: 18px;
	margin-bottom: 15px;
	float: left;
	clear: left;
	width: 100px;
	margin-right: 15px;

}

#mainWrap{
	background-color: ivory;
	float: left;
	width: 85%;
}


div.email {
	margin-bottom: 10px;
	border: 1px solid;
	border-color: antiquewhite;
	
}

div.sender, div.subject, div.date{
	display: inline-block;
	margin: 10px;
	font-family: Liberation Sans, sans-serif;
	font-size: 12px;

}

div.email:hover{
	background-color: honeydew;

}

div.sender{
	width: 12%;
	margin-left: 12px;
}

div.subject{
	width: 20%;
}



div.body{
	display: none;
	font-family: Liberation Sans, sans-serif;
	margin: 15px;
	font-size: 14px;
}

div.body.show{
	display: block;
}


